/node_modules

# cypress files
cypress/videos
cypress/screenshots
cypress/cucumber-json
cypress/fixtures/randomCredentials.json
/report/images

# Cucumber
cucumber-report.html
cucumber-messages.ndjson

cypress.env.json